body {
    font-family: -apple-system, sans-serif;
    text-align: center;
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

hr {
    width: 20%;
    margin: 20px auto;
    border: 0;
    border-top: 1px solid #eee;
}
.project-separator {
    width: 10%;
}
a.project {
    text-decoration: none;
    transition: color 0.3s ease;
}
a.project:hover {
    text-decoration: underline;
}
#instafish {
    color: slateblue;
}
#inspofish {
    color: hotpink;
}
#spotifish {
    color: seagreen;
}

footer {
    margin-top: 60px;
    padding: 20px 0;
    border-top: 1px solid #eee;
    font-size: 0.9em;
    color: #777;
}

footer a {
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a.email {
    color: coral;
}

footer a.kofi {
    color: seagreen;
}

footer a.twitch {
    color: blueviolet;
}

footer a.discord {
    color: royalblue;
}

footer a.freestuff {
    color: fuchsia;
}

footer a.sagi {
    color: darkcyan;
}

footer a:hover {
    text-decoration: underline;
}

.small-link {
    font-size: 0.7em; /* Make it tiny */
    color: #888; /* A subtle color */
    text-decoration: none;
    margin-left: 0px;
}

.small-link:hover {
    text-decoration: underline;
}

sub {
    padding: 0;
    margin: 0;
}
